*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
.*/*.log
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.settings/
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
.webkit_cache
/tests/amazon/.pytest_cache/
/tests/appr/.pytest_cache/
/tests/util/.pytest_cache/
ENV/
MANIFEST
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
config/
config.py
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env/
etc/
instance/
ipython_config.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
target/
var/
venv/
wheels/
